@model RewardInputModel
@{
    ViewData["Title"] = "Create Reward";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">My Rewards</a></li>
        <li class="breadcrumb-item active">New Reward</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Attachments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Qualifying Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Summary</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-8 col-lg-9">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label asp-for="ExpireDate"></label>
                    <input asp-for="ExpireDate" class="form-control">
                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                    <small id="expireDateHelp" class="form-text text-muted">
                        No reward can be available forever.
                    </small>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
                <div class="col-8 text-right">
                    <button name="saveDraft" value="true" class="btn btn-secondary">Save Draft</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section StyleSheets{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>$(function () {
            $("textarea").summernote({
                height: 200
            });
        });</script>
}
