@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@model Reward
@{
    ViewData["Title"] = "View Reward";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">My Rewards</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
        <li class="ml-auto">
            <div class="btn-group" role="group">
                <a asp-action="AddEvents" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm"
                   title="Add Events"><i class="far fa-calendar-plus"></i></a>
                @if ((await authorizationService.AuthorizeAsync(User, Model, Policy.CanViewRewardees)).Succeeded)
                {
                    <a asp-action="Attendance" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm ml-2"
                       title="Attendance"><i class="fas fa-user-friends"></i></a>
                }
            </div>
        </li>
    </ol>
</nav>

@if (Model.Review?.IsApproved == false)
{
    <div class="alert alert-danger" role="alert">
        This reward was denied for the following reason: @Model.Review?.Comments
    </div>
}
<partial name="_RewardPartial" />
