{
  "Application": {
    "Url": "http://localhost:5003",
    "PathBase": "/"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=scicafe2;Username=cysun;Password=abcd"
  },
  "Email": {
    "AppUrl": "http://localhost:5003",
    "Host": "localhost",
    "Port": 25,
    "Username": "cysun@localhost.localdomain",
    "Password": "abcd",
    "SenderName": "SciCAFE Admin",
    "SenderEmail": "scicafe@localhost.localdomain"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/SciCAFE.NET/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
