@model string
@{
    ViewData["Title"] = "Registration";
}
<h3>Pending Email Verification</h3>
<p>
    Thank you for registering on SciCAFE. An email has been sent to the address
    <em>@Model</em>. Please click on the link in the email to confirm your email address
    and activate your account.
</p>
