@{
    ViewData["Title"] = "Register";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Registration</li>
    </ol>
</nav>

<p>Registration compleeted.</p>
