@{
    ViewData["Title"] = "About Us";
}

<div class="jumbotron">
    <h1 class="display-4">Inclusive Excellence at Cal State LA</h1>
    <p class="lead">
        This program is supported by a 5-year grant from the
        <a href="https://www.hhmi.org/">Howard Hughes Medical Institute (HHMI)</a> entitled
        Science Faculty for Inclusion and Transformation. The goal of the grant is to create:
    </p>
    <ol>
        <li>
            Equity Mindedness and Inclusive Pedagogy via faculty professional development activities – A
            collaboration with USC's <a href="https://cue.usc.edu/">Center for Urban Education</a> and our
            own <a href="http://www.calstatela.edu/cetl">Center for Effective Teaching and Learning (CETL)</a>.
        </li>
        <li>
            Sci-CAFÉ: A web-based portal and program that will be a resource hub and community of practice
            tool for all students and faculty.
        </li>
        <li>
            Institutional Change: Review of policies and procedures that inadvertently serve as barriers to
            student success.
        </li>
    </ol>
    <a class="btn btn-primary" href="https://www.calstatela.edu/academic/inclusiveexcellence"
       role="button">Learn more</a>
</div>

<div class="card-deck">
    <div class="card border-primary">
        <div class="card-header text-center text-primary font-weight-bold"><big>Our Vision</big></div>
        <div class="card-body">
            <p>
                To transform our university. Decrease and eliminate the equity gap, starting with STEM
                courses and degree programs. Enrich an equity mindset in faculty. Enhance a sense of
                belonging among students. Examine and remediate classroom practices, policies,
                business practices. 
            </p>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header text-center text-primary font-weight-bold"><big>Our Mission</big></div>
        <div class="card-body">
            <p>
                To build partnerships throughout Cal State LA that will promote equity, diversity and
                inclusivity. To provide tools for faculty so that they can become equity agents
                in their classrooms. To provide tools for students so that they will thrive academically
                regardless of race, gender or sexual orientation.
            </p>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header text-center text-primary font-weight-bold"><big>Why Choose Us</big></div>
        <div class="card-body">
            <p>
                We have been welcomed by HHMI, received training and support to build partnerships
                throughout our institution. We comprise a group of dedicated faculty, staff and
                administrators who are determined to address equity, inclusivity and diversity on
                our campus.
            </p>
        </div>
    </div>
</div>
